[data-role="page"] {
  background: url(retina_wood.png); }

[data-role="header"] {
  background: #ccaa7e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ccaa7e 0%, #967745 47%, #604129 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccaa7e), color-stop(47%, #967745), color-stop(100%, #604129));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ccaa7e 0%, #967745 47%, #604129 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ccaa7e 0%, #967745 47%, #604129 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ccaa7e 0%, #967745 47%, #604129 100%);
  /* IE10+ */
  background: linear, to bottom, #ccaa7e 0%, #967745 47%, #604129 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccaa7e', endColorstr='#604129',GradientType=0 );
  /* IE6-9 */ }

[data-collapsible] p, [data-collapsible] ul {
  display: none; }

ul[data-role="listview"] {
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black; }

video {
  width: 100%; }
