* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: url(../images/blue.png);
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 20px;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

#lander_wrap {
  margin: 100px auto;
  width: 960px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 2px white, 0px 0px 3px #313131, 0px 0px 8px 0px white;
  box-shadow: inset 0px 1px 2px white, 0px 0px 3px #313131, 0px 0px 8px 0px white;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  position: relative; }

#lander {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  background: #f8f8f8;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 6px 5px white, 0px 0px 7px #999999;
  box-shadow: inset 0px 0px 6px 5px white, 0px 0px 7px #999999;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 0; }

header {
  display: block;
  width: 100%;
  clear: both;
  zoom: 1;
  height: 60px;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 0px 2px 10px #aeaeae;
  box-shadow: 0px 2px 10px #aeaeae;
  position: absolute;
  top: -60px; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }

h1 {
  font-size: 1.9em;
  text-shadow: 0px 1px 0px #fff;
  padding: 3px 14px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  margin: 0px 0px 20px 0px;
  height: 50px;
  float: left;
  display: inline-block;
  line-height: 60px; }
  h1 span {
    font-size: .5em; }

h2 {
  margin: 15px 10px 15px 0px;
  padding-left: 30px;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #313131; }

h3 {
  padding: 3px 14px;
  margin: 15px 10px; }

h4 {
  margin: 10px 6px; }

p {
  font-size: 80%;
  padding: 15px;
  text-shadow: 0px 1px 0px #fff;
  text-align: center; }
  p .button {
    width: 25%;
    display: inline-block; }

nav ul {
  display: block;
  width: 400px;
  height: 60px;
  float: right;
  list-style: none;
  -webkit-box-shadow: 0px 0px 10px #aeaeae;
  box-shadow: 0px 0px 10px #aeaeae; }
  nav ul li {
    float: left;
    height: 100%;
    width: 33.33%;
    display: block; }
    nav ul li:last-child a {
      -webkit-border-radius: 0px 5px 0 0;
      border-radius: 0px 5px 0 0; }
  nav ul li a {
    cursor: pointer;
    display: block;
    background: #472b47;
    background: -webkit-gradient(linear, left top, left bottom, from(#6e5770), to(#472b47));
    background: -webkit-linear-gradient(top, #6e5770, #472b47);
    background: -moz-linear-gradient(top, #6e5770, #472b47);
    background: -ms-linear-gradient(top, #6e5770, #472b47);
    background: -o-linear-gradient(top, #6e5770, #472b47);
    height: 100%;
    line-height: 60px;
    color: #f0f0f0;
    text-align: center;
    padding-left: 10%;
    border-right: 1px solid #313131;
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #676767;
    border-bottom: 4px solid #313131;
    width: 100%;
    text-decoration: none;
    text-shadow: 0px -2px 0px black;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative; }
    nav ul li a:hover {
      color: #fff;
      border-bottom: 4px solid #676767;
      border-top: 1px solid #fff; }
      nav ul li a:hover:after {
        color: #fff; }

[data-icon]:after {
  speak: none;
  content: attr(data-icon);
  position: absolute;
  font-family: icons;
  font-size: 1em;
  top: 1%;
  left: 10%;
  text-shadow: 0px 2px 0px #000;
  color: #f8f8f8; }

.infoInput, input[type="text"], textarea {
  display: block;
  width: 80%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 10px white, 0px 0px 10px #aeaeae;
  box-shadow: inset 0px 0px 10px white, 0px 0px 10px #aeaeae;
  padding: 7px;
  line-height: 23px;
  font-size: 75%;
  outline: none;
  margin: 20px;
  border: none;
  max-width: 80%;
  height: 400px;
  float: left; }
  .infoInput:focus, input[type="text"]:focus, textarea:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #313131;
    box-shadow: 0px 0px 6px 0px #313131; }

.infoInput, textarea {
  height: 400px;
  background: #fff;
  overflow: scroll;
  resize: vertical;
  whitespace: pre;
  border-left: 9px solid #bbb; }
  .infoInput h3, .infoInput h4, textarea h3, textarea h4 {
    border-bottom: 1px dotted #313131; }
  .infoInput h3, textarea h3 {
    margin-left: 20px; }
  .infoInput h4, textarea h4 {
    margin-left: 50px; }

input[type="text"] {
  float: none;
  width: 60%;
  height: 30px;
  margin: 20px auto 0; }

[type="submit"] {
  border: none;
  cursor: pointer; }

.button {
  border-top: 1px solid #f1d2fc;
  background: #472b47;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e5770), to(#472b47));
  background: -webkit-linear-gradient(top, #6e5770, #472b47);
  background: -moz-linear-gradient(top, #6e5770, #472b47);
  background: -ms-linear-gradient(top, #6e5770, #472b47);
  background: -o-linear-gradient(top, #6e5770, #472b47);
  padding: 10px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 1px 1px white;
  box-shadow: inset 0px 1px 1px white;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #dedede;
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  vertical-align: middle;
  width: 300px;
  display: block;
  margin: 10px auto;
  text-align: center;
  cursor: pointer; }
  .button:active {
    border-top-color: #3b2040;
    background: #3b2040; }
  .button:hover {
    color: #fff; }

a {
  color: purple; }
  a:hover {
    color: #a44ace; }

hr {
  margin: 20px auto 10px;
  width: 90%; }

.content {
  position: relative; }

.console {
  float: right;
  display: block;
  width: 120px;
  margin-right: 15px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px 0px 2px white, 0px 0px 10px #454545;
  box-shadow: inset 0px 0px 2px white, 0px 0px 10px #454545;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .console li {
    cursor: pointer;
    background: #472b47;
    background: #c6239b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #c6239b 0%, #b24287 50%, #a80077 51%, #751d65 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6239b), color-stop(50%, #b24287), color-stop(51%, #a80077), color-stop(100%, #751d65));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6239b 0%, #b24287 50%, #a80077 51%, #751d65 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6239b 0%, #b24287 50%, #a80077 51%, #751d65 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c6239b 0%, #b24287 50%, #a80077 51%, #751d65 100%);
    /* IE10+ */
    background: linear, to bottom, #c6239b 0%, #b24287 50%, #a80077 51%, #751d65 100%;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6239b', endColorstr='#751d65',GradientType=0 );
    /* IE6-9 */
    color: #e1e1e1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #313131;
    display: block;
    width: 80%;
    margin: 9px auto;
    -webkit-box-shadow: inset 0px 0px 1px white, 0px 4px 10px black;
    box-shadow: inset 0px 0px 1px white, 0px 4px 10px black;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 120%;
    position: relative; }
    .console li:hover {
      text-decoration: underline;
      color: #fff; }
    .console li:active {
      background: #6D004C; }
  .console .subList {
    font-size: 100%; }
    .console .subList li {
      text-shadow: 0px 1px 0px #000; }
    .console .subList:hover #H4s {
      display: block; }

.box {
  z-index: 100011;
  position: fixed;
  width: 500px;
  left: 50%;
  top: -100%;
  padding: 17px 17px 17px 20px;
  display: none;
  margin-left: -250px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #999;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 80px #313131;
  box-shadow: 0px 0px 80px #313131;
  border: 6px solid #f8f8f8; }
  .box ul {
    font-size: 80%;
    padding-left: 20px;
    list-style: bullet; }
  .box .close {
    height: 47px;
    top: 10px; }
  .box h1 {
    width: 100%;
    display: block;
    clear: both; }

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

.inRange {
  top: 100px; }

.pointers {
  pointer-events: auto; }

#previewBox {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -350px;
  display: none;
  padding: 30px;
  width: 700px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 8px #313131;
  box-shadow: 0px 0px 8px #313131;
  font-size: 80%; }
  #previewBox:after {
    position: absolute;
    top: -50px;
    left: -6px;
    width: 680px;
    content: "Is this what you want to submit? You can still go back and change it.";
    display: block;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    -webkit-box-shadow: 0px 0px 6px #313131;
    box-shadow: 0px 0px 6px #313131;
    background: #472b47;
    background: -webkit-gradient(linear, left top, left bottom, from(#6e5770), to(#472b47));
    background: -webkit-linear-gradient(top, #6e5770, #472b47);
    background: -moz-linear-gradient(top, #6e5770, #472b47);
    background: -ms-linear-gradient(top, #6e5770, #472b47);
    background: -o-linear-gradient(top, #6e5770, #472b47);
    margin-bottom: -13px;
    height: 30px;
    color: #e1e1e1;
    padding: 10px;
    text-align: center;
    z-index: 0;
    font-size: 1em; }

.close {
  position: absolute;
  top: -49px;
  right: 10px;
  width: 48px;
  height: 46px;
  background: url(../images/close.png) no-repeat;
  z-index: 11;
  cursor: pointer; }

#H4s {
  display: none;
  font-size: 70%;
  position: absolute;
  left: -95%;
  top: -15px;
  width: 100px;
  padding: 15px 0;
  z-index: 100; }
  #H4s li {
    width: 70px;
    margin: 0px auto;
    color: #e1e1e1;
    background: rgba(0, 0, 0, 0.7);
    height: 30px;
    line-height: 30px;
    -webkit-box-shadow: 0px 0px 4px #777777;
    box-shadow: 0px 0px 4px #777777; }
    #H4s li:hover {
      color: #fff; }

#definition {
  height: 200px;
  width: 100%;
  float: none;
  margin: 20px auto; }

[id*="wrap"] {
  position: relative; }

.remove {
  position: absolute;
  right: 10px;
  top: 9px;
  width: 20%;
  padding: 7px 8px; }

#appendixAdd {
  top: 50px; }

.fixed {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000; }

.fl {
  float: left; }

.fR {
  float: right; }

.hidden {
  display: none; }

.relative {
  position: relative; }

.clear {
  clear: both; }

.inline {
  display: inline-block; }

.medShadow {
  -webkit-box-shadow: 0px 0px 10px #545454;
  box-shadow: 0px 0px 10px #545454; }

.cursor {
  cursor: pointer; }

.hierarchy {
  width: 90%;
  margin: 0 auto;
  border-left: 4px solid #55bad8;
  border-right: 4px solid #55bad8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: -4px 3px 10px #aeaeae;
  box-shadow: -4px 3px 10px #aeaeae;
  -webkit-border-radius: 0px 10px 10px 0;
  border-radius: 0px 10px 10px 0;
  background: url(../images/subtle/cubes.png);
  overflow: hidden; }
  .hierarchy span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 0px 1px 0px #fff;
    cursor: pointer;
    display: inline-block;
    padding: 7px 10px;
    margin: 7px;
    background: #e1e1e1;
    -webkit-box-shadow: 0px 0px 10px #aeaeae, inset 0px 0px 3px 1px white;
    box-shadow: 0px 0px 10px #aeaeae, inset 0px 0px 3px 1px white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top: 1px solid #fff;
    font-size: .7em;
    text-align: center; }
    .hierarchy span:hover {
      -webkit-box-shadow: 0px 0px 7px #676767;
      box-shadow: 0px 0px 7px #676767;
      text-decoration: underline; }
  .hierarchy .selected {
    color: #f8f8f8;
    background: #8abbd7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8abbd7 0%, #066dab 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8abbd7), color-stop(100%, #066dab));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8abbd7 0%, #066dab 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8abbd7 0%, #066dab 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8abbd7 0%, #066dab 100%);
    /* IE10+ */
    background: linear, to bottom, #8abbd7 0%, #066dab 100%;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8abbd7', endColorstr='#066dab',GradientType=0 );
    /* IE6-9 */
    text-shadow: none;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 6px #313131;
    box-shadow: 0px 1px 6px #313131; }
    .hierarchy .selected:hover {
      color: #fff;
      -webkit-box-shadow: 0px 1px 6px #313131;
      box-shadow: 0px 1px 6px #313131; }

#browseHierarchy .block {
  width: 100%; }

.block {
  width: 95%;
  display: block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  zoom: 1; }
  .block:before, .block:after {
    content: "";
    display: table; }
  .block:after {
    clear: both; }
  .block:first-child .addNode {
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px; }
  .block:last-child {
    border-bottom: none; }
  .block:last-child .addNode {
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px; }

.addNode {
  position: absolute;
  line-height: 55px;
  top: 0;
  right: -5.3%;
  text-align: center;
  display: block;
  color: #aeaeae;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0px 2px 0px white;
  height: 100%;
  width: 6%;
  border-left: 1px solid #ddd;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  font-size: 1.2em; }
  .addNode:hover::after, .addNode:hover::before {
    display: block; }
  .addNode:hover {
    color: #55bad8; }
  .addNode:after {
    content: "Add a node.";
    position: absolute;
    display: none;
    top: 25%;
    margin-top: -5px;
    left: -120px;
    background: #212121;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    text-align: center;
    color: #f0f0f0;
    height: 25px;
    width: 100px;
    font-size: .5em;
    line-height: 25px;
    text-shadow: none;
    z-index: 0;
    -webkit-box-shadow: 0px 0px 5px #aeaeae;
    box-shadow: 0px 0px 5px #aeaeae; }
  .addNode:before {
    content: "";
    position: absolute;
    z-index: 1;
    display: none;
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-left: 15px solid rgba(0, 0, 0, 0.7);
    border-bottom: 7.5px solid transparent;
    left: -10px;
    top: 25%;
    margin-top: 6.25px; }

.newNode {
  outline: none;
  border: none;
  cursor: auto;
  display: none;
  min-width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

@font-face {
  font-family: 'icons';
  src: url("../icon_fonts/fonts/icomoon.eot") format("eot"), url("../icon_fonts/fonts/icomoon.woff") format("woff"), url("../icon_fonts/fonts/icomoon.ttf") format("truetype"); }

@media all and (max-width: 960px) {
  #lander_wrap {
    width: 95%; } }
