* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: url(../images/blue.png);
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  font-size: 20px;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

#lander_wrap {
  margin: 3% auto;
  width: 800px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 2px white, 0px 0px 3px #313131, 0px 0px 8px 0px white;
  box-shadow: inset 0px 1px 2px white, 0px 0px 3px #313131, 0px 0px 8px 0px white;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  position: relative; }

#lander {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url(../images/brushedalum.png);
  position: relative;
  -webkit-box-shadow: inset 0px 1px 2px white, 0px 0px 7px #999999;
  box-shadow: inset 0px 1px 2px white, 0px 0px 7px #999999;
  padding-bottom: 20px;
  z-index: 0; }

h1 {
  font-size: 210%;
  text-shadow: 0px 1px 0px #fff;
  padding: 3px 14px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  margin: 0px 0px 20px 0px;
  height: 50px;
  float: left;
  display: block;
  width: 100%; }

h3 {
  padding: 3px 14px; }

p {
  font-size: 80%;
  padding: 15px;
  text-shadow: 0px 1px 0px #fff; }

h2 {
  display: inline-block;
  margin: 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px dotted #313131; }

textarea, input[type="text"] {
  display: block;
  width: 80%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 10px white, 0px 0px 10px #aeaeae;
  box-shadow: inset 0px 0px 10px white, 0px 0px 10px #aeaeae;
  padding: 7px;
  line-height: 23px;
  font-size: 75%;
  outline: none;
  margin: 20px;
  border: none;
  max-width: 80%;
  height: 400px;
  float: left; }
  textarea:focus, input[type="text"]:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #313131;
    box-shadow: 0px 0px 6px 0px #313131; }

input[type="text"] {
  float: none;
  width: 60%;
  height: 30px;
  margin: 20px auto 0; }

[type="submit"] {
  border: none;
  cursor: pointer; }

.button {
  border-top: 1px solid #f1d2fc;
  background: #472b47;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e5770), to(#472b47));
  background: -webkit-linear-gradient(top, #6e5770, #472b47);
  background: -moz-linear-gradient(top, #6e5770, #472b47);
  background: -ms-linear-gradient(top, #6e5770, #472b47);
  background: -o-linear-gradient(top, #6e5770, #472b47);
  padding: 10px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 1px 1px white;
  box-shadow: inset 0px 1px 1px white;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #dedede;
  font-size: .75em;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  vertical-align: middle;
  width: 300px;
  display: block;
  margin: 10px auto;
  text-align: center;
  cursor: pointer; }
  .button:active {
    border-top-color: #3b2040;
    background: #3b2040; }
  .button:hover {
    color: #fff; }

a {
  color: purple; }
  a:hover {
    color: #a44ace; }

hr {
  margin: 20px auto 10px;
  width: 90%; }

.content {
  position: relative; }

.console {
  float: right;
  display: block;
  width: 100px;
  height: 400px;
  margin-right: 15px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .console li {
    cursor: pointer;
    background: #d9d9d9;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear, to bottom, white 0%, #e5e5e5 100%;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: inset 0px 0px 0px 1px white, 0px 0px 3px #aeaeae;
    box-shadow: inset 0px 0px 0px 1px white, 0px 0px 3px #aeaeae;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #999;
    display: block;
    width: 80%;
    margin: 9px auto;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 60px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 120%; }
    .console li:hover {
      text-decoration: underline; }
  .console .createSub {
    font-size: 100%; }

.help {
  position: absolute;
  top: 7px;
  right: 17px;
  background: url(../images/gear.png) no-repeat 0px 0px;
  cursor: pointer;
  overflow: visible;
  padding-left: 30px; }

aside {
  z-index: 100011;
  position: fixed;
  pointer-events: none;
  width: 500px;
  display: block;
  left: 50%;
  padding: 17px 17px 17px 20px;
  top: 100px;
  display: none;
  margin-left: -250px;
  -webkit-box-shadow: 0px 0px 20px black, inset 0px 0px 0px 1px white, 0px 0px 1003px 1000px #313131;
  box-shadow: 0px 0px 20px black, inset 0px 0px 0px 1px white, 0px 0px 1003px 1000px #313131;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #999;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */ }
  aside ul {
    font-size: 80%;
    padding-left: 20px; }

.pointers {
  pointer-events: auto; }

#previewBox {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -350px;
  display: none;
  padding: 30px;
  width: 700px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 8px #313131;
  box-shadow: 0px 0px 8px #313131;
  font-size: 80%; }
  #previewBox:after {
    position: absolute;
    top: -50px;
    left: 0;
    width: 680px;
    content: "Is this what you want to submit? You can still go back and change it.";
    display: block;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    -webkit-box-shadow: 0px 0px 6px #313131;
    box-shadow: 0px 0px 6px #313131;
    background: #472b47;
    background: -webkit-gradient(linear, left top, left bottom, from(#6e5770), to(#472b47));
    background: -webkit-linear-gradient(top, #6e5770, #472b47);
    background: -moz-linear-gradient(top, #6e5770, #472b47);
    background: -ms-linear-gradient(top, #6e5770, #472b47);
    background: -o-linear-gradient(top, #6e5770, #472b47);
    margin-bottom: -13px;
    height: 30px;
    color: #e1e1e1;
    padding: 10px;
    text-align: center;
    z-index: 0;
    font-size: 1em; }

.close {
  position: absolute;
  top: -49px;
  right: 10px;
  width: 48px;
  height: 43px;
  background: url(../images/close.png) no-repeat;
  z-index: 11;
  cursor: pointer; }

#admin {
  position: fixed;
  top: 0;
  left: 0;
  height: 24px;
  width: 100%;
  background: #d9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear, to bottom, white 0%, #e5e5e5 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  font-size: 80%;
  z-index: 1000;
  border-bottom: 2px solid #888; }
