@import "../bourbon/bourbon";
//======MIXINS======
@mixin opacity($val: 1, $big: 100) { 

	opacity: #{$val};
	-moz-opacity: #{$val};
	filter:alpha(opacity=#{$big});

}

@mixin whiteGradient() { 

	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

/* =======================================*/
/* =========== GENERAL STYLES ============ */
/* =======================================*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/blue.png);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #444;
	font-size: 20px;
	position: relative;
	@include transition(all 1s ease-in-out);

}

.wrapper-border {
	margin: 100px auto;
	width: 960px;
	@include border-radius(5px);
	@include box-shadow(inset 0px 1px 2px #fff, 0px 0px 8px 0px #fff, 0px 0px 2px 1px #ccc);
	background: rgba(255,255,255,.4);
	padding: 10px;
	border: 1px solid #fff;
	position: relative;

 }

.wrapper { 
 	width: 100%;
 	height: 100%;
	@include border-radius(0px 0px 5px 5px);
	background: #f8f8f8;
	position: relative;
	@include box-shadow(inset 0px 0px 2px 2px #fff, 0px 0px 7px #ccc);
	padding-bottom: 20px;
	padding-top: 20px;
	z-index: 0;

 }

 header {

 	display: block;
 	width: 100%;
 	clear: both;
 	@include clearfix();
 	height: 60px;
 	@include whiteGradient();
	@include border-radius(5px 5px 0px 0px);
	position: absolute;
	top: -60px;
	border-bottom: 1px solid #ccc;
 }

h1 { 
	font-size: 1.9em;
	text-shadow: 0px 1px 0px #fff;
	padding: 3px 14px;
	@include border-radius( 3px 3px 0px 0px); 
	margin: 0px 0px 20px 0px;
	height: 50px;
	float: left;
	display: inline-block;
	line-height: 60px;

	span { 

		font-size: .5em;


	}
}
h2 { 
	margin: 15px 0px 15px 4%;
	padding-left: 30px;
	display: block;
	width: 80%;
	border-bottom: 1px solid #ccc;

}

h3 { 
	padding: 10px 5%;
	border-bottom: 1px solid #ccc;
}

h4 { 
	padding: 5px 3%;
	margin: 7px 23px;
	border-bottom: 1px solid #ccc;
}

p {  
	font-size: 80%;
	padding: 15px;
	text-shadow: 0px 1px 0px #fff;
	text-align: center;

	.button{  

		width: 25%;
		display: inline-block;

	}
}

.button {

   border-top: 1px solid #f1d2fc;
   padding: 10px 20px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
	background: rgb(147,206,222); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,206,222,1)), color-stop(41%,rgba(117,189,209,1)), color-stop(100%,rgba(73,165,191,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */
	position: relative;
   @include box-shadow(inset 0px 1px 2px 0px rgba(255,255,255,.7), inset 0px  1px 1px 0px #fff, 0px 0px 1px 1px #ccc);
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f8f8f8;
   font-size: .75em;
   font-weight: 300;
   text-decoration: none;
   vertical-align: middle;
   width: 300px;
   display: block;
   margin: 10px auto;
   text-align: center;
   cursor: pointer;
   border: none;
   outline: none;
   overflow: hidden;


	&:active {

   	background: #356aa0;

   }

   &:hover { 
   	color: #fff;
   	text-decoration: underline;
   }

   &:after { 

   	position: absolute;
   	content:"";
   	display: block;
   	width: 100%;
   	height: 100%;
   	background: url("../images/sheen.png");
   	top: 0;
   	right: -70%;
   	opacity: .9;
   	pointer-events: none;
   }

}

a { 

	color: rgb(73,165,191);
	@extend .cursor;

	&:hover { text-decoration: underline; }
}

hr { 

	margin: 20px auto 10px;
	width: 90%;
}

.box {

	z-index: 100011;
	position: fixed;
	width: 80%;
	left: 0%;
	top: -100%;
	padding: 17px 17px 17px 20px;
	display: none;
	margin-left: 10%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #999;
	@include border-radius(2px);	
	@include whiteGradient();
	@include transition(all .1s ease-in-out);
	@include box-shadow(0px 0px 80px #313131);
	border: 6px solid #f8f8f8; 

	div.descriptor { 

		font-size: 1em;

	}

	ul, ol { 

		font-size: 1em; 
		padding-left: 20px;
		list-style: bullet;
	}

	.close { 

		top: 10px; 
		&:after { content: "Close"; }
	}

	h1 { 
		width: 100%;
		display: table;
		clear: both;
		font-size: 1.7em;
		@include border-radius(3px);
		border: 1px solid #ccc;
		@include whiteGradient();
		line-height: 40px;
		padding: 10px 5%;
		height: auto;
		float: none;
	}

	h3, h4 { 

		border: 1px solid #ddd;
		@include border-radius(3px);
		background: #f8f8f8;

	}

	h3 { margin-left: 8.4%;
		& + div { 

			margin-left: 9.6%;

		}
	}

	h4 { margin-left: 12%;	
		& + div { 

			margin-left: 14%;

		} 
	}

	p { text-align: left; }

	img, video { 
		max-width: 100%; 
	}
}

.blur { 
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}


.fixed { 

	position: fixed; 
	top: 0px;
	left: 50%;
	margin-left: -150px;
	z-index: 1000;
}

.close  {

	position: absolute;
	top: -49px;
	right: 10px;
	width: 70px;
	height: 30px;
	z-index: 11;
	cursor: pointer;

	&:hover::after { 
		text-decoration: underline;
		color: white;
		@include opacity(.95,95);
	}

	&:hover::before { display: block;}

	&:after { 
		font-weight: bold;
		font-family: helvetica, sans-serif;
		display: block;
		content: "Remove";
		position: absolute;
		height: 100%;
		width: 100%;
		@include border-radius(3px);
		@include opacity(.8,80);
		@include box-shadow(0px 0px 3px #aeaeae, inset 0px 0px 4px #000);
		background: #313131;
		background: rgba(0,0,0,.75);
		color: #f8f8f8;
		border: 2px solid #f8f8f8;
		line-height: 30px;
		font-size: .7em;
		text-align: center;
		pointer-events: none;
	}
}

::selection, ::-moz-selection { 

	background-color: #4096ee;
	color: #fff;
	text-shadow: none;
}


.fl { 		float: left; 		}
.fR { 		float: right; 		}
.hidden { 	display: none;		}
.relative { position: relative; @include clearfix() }
.clear{ 	clear: both; 		}
.inline { 	display: inline-block; }
.medShadow {@include box-shadow(0px 0px 10px #545454); }
.cursor { cursor: pointer; }
.p0 { padding: 0; }
.p5 { padding: 5px; }
.m0 { margin: 0;     }
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.w20 { width: 20%;   }
.w25 { width: 25%;   }
.w30 { width: 30%;   }
.w60 { width: 60%;   }
.w70 { width: 70%;   }
.w80 { width: 80%;   }
.w90 { width: 90%;   }
.w100 { width: 100%; }
.mauto { margin: 0 auto; }
.center { text-align: center; }
.block { display: block; }



/* =======================================*/
/* ========== NAVIGATION ========= */
/* =======================================*/
nav { 

 	ul { 

 		display: block;
 		width: 500px;
 		height: 59px;
 		float: right;
	 	border-right: 1px solid #ccc;
 		list-style: none;

 		li { 
 			float: left;
 			height: 100%;
 			width: 33.3333333333%;
 			display: block;

 		}

 		li a {
 			cursor: pointer;
 			display: block;
	 		  		height: 100%;
	 		line-height: 60px;
	 		color: #222;
	 		text-align: center;
	 		padding-left: 10%;
	 		border-top: 1px solid #f9f9f9;
	 		border-left: 1px solid #ccc;
	 		width: 100%;
	 		text-decoration: none;
	 		font-family: 'Open Sans', sans-serif;
	 		font-weight: 400;
	 		font-size: .9em;
	 		position: relative;

	 		&:hover { 
	 			color: #050505;
	 			text-decoration: underline;
	 			border-top: 1px solid #fff;

	 			&:after { 
	 				color: #fff;

	 			}
	 		}
 		}
 	}
 }

[data-icon]:after { 

	speak: none;
	content: attr(data-icon);	
	position: absolute;
	font-family: icons;
	font-size:1em;
	top: 1%;
	left: 10%;
	color: #777;

}


/* =======================================*/
/*=========== CONTENT INPUT STYLES =============== */
/* =======================================*/

[id*="wrap"], .second_level_wrap { 
	@include box-shadow(0px 1px 1px 0px #aeaeae, inset 0px 0px 4px 0px #fff);
	width: 95%;
	border: 1px solid #ccc;
	border-top-color: #fff;
	display: block;
	margin: 10px auto 50px;
	background: #f9f9f9;
	@include border-radius(3px);
	@include clearfix();
	position: relative;

	.close { 

		top: 0px;
		right: 4px;

	}
}

.second_level_wrap { 
	background: rgba(191,127,236,.12) url('../images/6-stripe.png');
	padding: 20px 3%;

	p .button {font-size: .95em; }
	.second_head { width: 90%; }
}

.third_level_wrap { 
	position: relative;

	.close { 

		top: -2px;
		right: 2px;

	}
}

span.ppt-icon { 

	display: block;
	max-width: 50%;
	border: 1px solid #ccc;
	@include border-radius(4px);
	@include box-shadow(0px 1px 2px #bbb);
	text-align: center;
	line-height: 35px;
	@include whiteGradient();

}

#wrap0 { margin-top: 60px; }

.description, input[type="text"] { 
	display: block;
	width: 100%;
	@include border-radius(4px);
	@include box-shadow(inset 0px 0px 5px #fff, 0px 0px 5px #aeaeae);
	padding: 35px 1% 7px 1%;
	line-height: 23px;
	font-size: .75em;
	outline: none;
	border: none;	
	background: #fff;
	overflow: scroll;
	resize: vertical;
	whitespace: pre;
	clear: both;
	min-height: 210px;

	.media_icon { width: 20%; margin: 0px .5%; }

	img, video { 
		max-width: 60%;
		resize: none;
		padding: 10px;
	}

	&:focus { 

		@include box-shadow(0px 0px 2px 0px #313131);

	}

	h3, h4 { border-bottom: 1px dotted #313131; }

	h3 { 

		margin-left: 20px;

	}

	h4 { margin-left: 50px; }

	li { 
		list-style: bullet;
		margin-left: 3%;
	}


}


input[type="text"] { 

	min-height: 0px;
	float: none;
	width: 85%;
	height: 30px;
	margin: 20px 5% 0;
	resize: none;
	padding: 5px 3%;

}

[type="submit"] { 

	border: none;
	cursor: pointer; 
}

.content { position: relative; }

.addSecond { 

	@include border-radius(3px 3px 0 0);
	position: absolute;
	top: -39px;
	left: -1px;
	background: #f9f9f9;
	display: block;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top-color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0px 2% 0px 4%;
	text-align: center;
	cursor: pointer;

	&:after { 

		content: "+";
		position: absolute;
		left: 5%;
		top: 0;
		display: none;

	}

	&:hover{ text-decoration: underline; }
	&:hover::after { display: block;}
}





/* =======================================*/
/* =========== WYSIWYG Styles =============*/
/* =======================================*/

.editor { 

		position: absolute;
		top: 0px;
		left: 0px;
		list-style:  none;
		width: 100%;
		z-index: 800;
		@include box-shadow(0px 1px 2px #ddd);

		
		> li { 
			
			font-size: 18px;
			display: inline-block;
			text-align: center;
			font-family: 'editor';
			line-height: 27px;
			height: 30px;
			width: 14.2857%;
			cursor: pointer;
			@include whiteGradient();
			border-right: 1px solid #ccc;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #ccc;
			text-shadow: 0px 1px 0px #fff;
			position: relative;
			margin: 0;

			div { 
				display: none;
				width: 200px;
				position: absolute;
				top: 100%;
				left: -1px;
				max-height: 200px;
				border: 1px solid #ccc;
				border-top: none;
				background: #f8f8f8;
				font-family: 'Lucida Grande', Arial, 'Open Sans',sans-serif;
				@include box-shadow(0px 1px 2px #aeaeae);
				z-index: 1000;

				.media_icon { width: 30%; }

				&.scroll { overflow: scroll; }


			}

			&:first-child { 
				@include border-radius(4px 0px 0 0 );
				border-left: none;

				div { left: 0; }
			}
			&:last-child { 

				@include border-radius(0px 4px 0 0 );

				div { right: -1px; }
			}

			&:hover { 
				background: #f7f7f7;
				color: #111;
				border-bottom: none;

				div { display: block; }
			}
	}
}

.fileList, .listchoice, #files { 

	width: 100%;

	li, li.media_icon.add{ 
		display: block;
		width: 100%;
		font-size: .7em;
		color: #666;
		line-height: 30px;
		border-top: 1px solid #fff;
		background: #f0f0f0;
		border-bottom: 1px solid #ccc;

		&:hover { 
			color: #111;
			background: #f7f7f7;
		}
	}
}

#files li {

	text-align: center;
	
	&:hover {

		background: #f4f4f4;

	}


}

[data-role] { 

	position: relative; 

	&:after { 

		content: attr(data-role);
		position: absolute;
		right: 100%;
		top: -2px;
		color: #f8f8f8;
		background: #111;
		background: rgba(0,0,0,.8);
		display: none;
		padding: 2px 6px;
		font-size: .7em;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		text-shadow: none;

	}

	&:hover::after { display: block; }

}

.inRange { top: 100px; }

.pointers { pointer-events: auto; }

#previewBox {
	position: absolute;
	left: 0%;
	top: 100px;
	margin-left: 5%;
	width: 90%;

	&:after {

		position: absolute;
		top: -50px;
		left: 0;
		width: 100%;
		content: "Verify the content, or modify it.";
		display: block;
		@include border-radius(4px 4px 0px 0px);
		@include box-shadow(0px 0px 6px #313131);
		background: #472b47;
	    background: -webkit-gradient(linear, left top, left bottom, from(#6e5770), to(#472b47));
	    background: -webkit-linear-gradient(top, #6e5770, #472b47);
	    background: -moz-linear-gradient(top, #6e5770, #472b47);
	    background: -ms-linear-gradient(top, #6e5770, #472b47);
	    background: -o-linear-gradient(top, #6e5770, #472b47);
		height: 50px;
		color: #e1e1e1;
		text-align: center;
		z-index: 0;
		font-size: .85em;
		line-height: 50px;
	}

	.close { top: -43px;}
 }




#definition { 

	height: 200px;
	width: 100%;
	float: none;
	margin: 20px auto;

}

.remove { 
float: right;
}

#appendixAdd { top: 50px; }



/* =======================================*/
/* =========== Hierarchy Browser =============*/
/* =======================================*/
.hierarchy{ 
	width: 90%;
	margin: 0 auto;
	border-left: 4px solid #55bad8;
	border-right: 4px solid #55bad8;
	@include transition(all .2s ease-in-out);
	@include box-shadow(-1px 1px 2px #aeaeae);
	@include border-radius(2px);
	background: url("../images/subtle/cubes.png");

	li {

		@include transition(all .2s ease-in-out);
		text-shadow: 0px 1px 0px #fff;
		cursor: pointer;
		display: inline-block;
		padding: 7px 10px;
		margin: 4px 7px;
		background: #e1e1e1;
		@include box-shadow(0px 0px 2px #aeaeae);
		@include border-radius(2px);
		border-top: 1px solid #fff;
		font-size: .7em;
		text-align: center;

		&:hover { 
			@include box-shadow(0px 0px 2px #676767 );
			text-decoration: underline;
		}
	}

	.selected { 

		color: #f8f8f8;
		background: rgb(138,187,215); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(138,187,215,1) 0%, rgba(6,109,171,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abbd7', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
		text-shadow: none;
		position: relative;
		overflow: hidden;
		@include box-shadow(0px 1px 2px  #313131);

		&:hover  { 

			color: #fff;
			@include box-shadow(0px 1px 4px  #313131);

		}
	}
}

.child_row { 

	width: 99%;
	display: block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	position: relative;
	padding-left: 15px;
	padding-right: 9%;
	position: relative;

	.close { 
		position: absolute;
		top: 0%;
		left: -25px;
		font-size: 1.7em;
		@include opacity(.8,80);
		@include transition(all .05s ease-in-out);
		width: 40px;
		height: 40px;
		@include box-shadow(none);
		@include border-radius(50%);

	
		&:hover { 
			@include opacity(.95,95);

			&::after { 
				text-decoration: none;
			}
		}

		&:after { 
			font-family: 'icons';
			content: "X";
			line-height:40px;
		}

	}

	&:first-child .addNode { @include border-radius(0px 2px 0px 0px);}
	&:last-child { border-bottom: none; }
	&:last-child .addNode { @include border-radius(0px 0px 2px 0px);}
}

.addNode { 

	position: absolute;
	line-height:45px;
	top: 0;
	right: -1%;
	text-align: center;
	display: block;
	color: #aeaeae;
	@include transition(all .2s ease-in-out);
	cursor: pointer;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 2px 0px white;
	height: 100%;
	min-width: 9%;
	border-left: 1px solid #ddd;
	@include whiteGradient();
	font-size: 1.2em;

	&:hover::after, &:hover::before { 

		display: block;

	}

	&:hover{ color: #55bad8; }

	&:after { 

		content: "Add a node.";
		position: absolute;
		display: none;
		top: 25%;
		margin-top: -5px;
		left: -120px ;
		background: #212121;
		background: rgba(0,0,0,.7);
		padding: 5px; 
		text-align: center;
		color: #f0f0f0;
		height: 25px;
		width: 100px;
		font-size: 12px;
		line-height: 25px;
		text-shadow: none;
		z-index: 11;
		@include box-shadow(0px 0px 5px #aeaeae);
	}

	&:before { 

		content: "";
		position: absolute;
		z-index: 12;
		display: none;
		width: 0;
		height: 0;
		border-top: 7.5px solid transparent;
		border-left: 15px solid rgba(0,0,0,.7);
		border-bottom: 7.5px solid transparent;
		left: -10px;
		top: 25%;
		margin-top: 6.25px;
	}
}

.newNode.override { 

	outline: none;
	min-width: 10%;
	text-shadow: none;
	position: relative;
	background: rgb(205,235,142); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}

.editable_node { 
	position: relative;
	color: #aaa;

	&:hover::after{ 

		display: block;

	}
	&:after {
		position: absolute;
		content: "Edit";
		display: none;
		top: 0%;
		left: 0%;
		background: #212121;
		background: rgba(0,0,0,.53);
		text-align: center;
		color: #f0f0f0;
		height: 100%;
		width: 100%;
		pointer-events: none;
		font-size: 1.2em;
		line-height: 33px;
		text-shadow: none;
		z-index: 0;
		@include box-shadow(0px 0px 5px #aeaeae);
		@include border-radius(2px);
	}

		/*&:before { 
			position: absolute;
			content: "";
			top: 0%;
			right: 0;
			display: block;
			width: 20%;
			height: 10px;
			background: #000;
			@include border-radius(0 10px 0 0);
		}*/

 }

@font-face {

  font-family: 'icons';
  src: url("../icon_fonts/fonts/icomoon.eot") format("eot"), 
 	 url("../icon_fonts/fonts/icomoon.woff")  format("woff"),
  	 url("../icon_fonts/fonts/icomoon.ttf")   format("truetype");
}

@font-face {

  font-family: 'editor';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), 
 	 url("../icomoon/fonts/icomoon.woff")  format("woff"),
  	 url("../icomoon/fonts/icomoon.ttf")   format("truetype");
}

/* ========================================= */
/* ========= APPENDIX EDITOR =============== */
/* ========================================= */

.appendix-definition {
	width: 97%;
	padding: 1% 6%;
	background: #fcfcfc;
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	font-size: .84em;
}

.appendix-term { 

	margin-left: 10px;

}

/* =======================================*/
/* == MEDIA QUERIES FOR RESPONSIVENESS====*/
/* =======================================*/
@media all and (min-width: 1024px) { 

	.wrapper-border { width: 75%; }

}


@media all and (max-width: 960px) { 

	.wrapper-border { width: 90%; margin: 60px auto; }
	.wrapper { padding-top: 60px; }
	nav, nav ul { display: block; width: 100%; }
	h1 { margin-bottom: 11px; }
	header { margin-bottom: 160px; }

}

@media all and (max-width: 650px) { 

	nav [data-icon]:after { display: none; }
	nav { width: 100%; li { width: 100% ;}}
	.hierarchy span { font-size: .9em;}
	h1 {

		font-size: 1.7em;

		span { display: none; }
	}

	.second_head, .description { width: 100%; }
	.editor li { font-size: .7em; }
	p .button { width: 45%; }
	.button { width: 90%; }
	input[type="text"], .second_head { width: 90%; }
	#previewBox::after { content: "Verify Content."}
}

@media all and (max-width: 350px) { 

	nav li, nav li a { width: 200px;}

}
